body {
    background: #62455b;
    font: normal 15pt Arial;
    text-align: center;
}

header {
    color: #d2dfc8;
    text-align: center;
}

section {
    background-color: #d2dfc8;
    color: #62455b;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #141827ce;
}

#button{
    background: #62455b;
    color: #d2dfc8;
    font-size: large;
    border-radius: 7cm;
    border-style: solid;
    border-color: #270d216b;
    width: 15rem;
    height: 2rem;
}


footer {
    color: #736681;
    text-align: center;
    font-style: italic;

}