body {
    background: #62455b;
    font: normal 15pt Arial;
    margin-top: 4rem;
}

header {
    color: #d2dfc8;
    text-align: center;
}

section {
    background-color: #d2dfc8;
    color: #62455b;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #141827ce;
}

select#flista{
    width: 150px;
    margin-top: 0.9rem;
    margin-bottom: 1rem;
}

footer {
    color: #736681;
    text-align: center;
    font-style: italic;

}